@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');
body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}

* {
    box-sizing: border-box
}


/* Add padding to container elements */

.container {
    padding: 20px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
    box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
}


/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

select {
    width: 18%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
select:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for all buttons */

.button {
    width: 100%;
}

button,
.button a {
    background-color: #0eb7f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: center;
    opacity: 0.9;
    font-size: 16px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

button:hover {
    opacity: 1;
}

.errorMssg {
    color: red;
    font-size: 12px;
}

.success {
    width: 100%;
}

.success>div {
    width: 95%;
    margin: 23px auto;
    padding: 5px;
    text-align: center;
    color: #fff;
    background: #41ab53;
    border: 2px solid transparent;
}


/* Change styles for signup button on extra small screens */

@media screen and (max-width: 300px) {
    .signupbtn {
        width: 100%;
    }
}