@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #454545;
    background: #fff;
}

.container {
    max-width: 80rem;
    width: 30%;
    height: auto;
    /* margin: 0 auto; */
    padding: 0 2rem;
}

.main .accordion {
    width: 300px;
    height: 100vh;
    overflow: auto;
    padding: 2rem 2rem;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.main .accordion-item,
.main .sub-accordion-item {
    position: relative;
    padding: 0.5rem 0 0;
    margin: 0;
    overflow: hidden;
    border: none;
    outline: none;
    border-bottom: 1.3px solid #f8f8f8;
    background-color: #f8f8f8;
}

.main .sub-accordion-item {
    background-color: #fff;
}

.main .accordion-item .title,
.sub-accordion-item .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: inherit;
    cursor: pointer;
    color: #fff;
    padding: 10px;
}

.main .accordion-item .title span {
    color: black;
}

.main .sub-accordion-item .title span {
    color: black;
}

.main .accordion-item .title i.fas,
.main .sub-accordion-item .title i.fas {
    font-size: 0.9rem;
    color: #454545;
}

.main .accordion-item>.paragraph {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-in 0.20s;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    color: #454545;
    margin-left: 40px;
    border-left: 2px solid #d2cccc;
    padding: 0 0 0 0px;
}

.main .active>.paragraph {
    max-height: 1000px;
    transition: max-height 1.5s ease-out 0.30s;
    overflow: auto;
}

.main .active>.title>img:first-child {
    filter: sepia(100%);
}

.main .accordion-item .paragraph p {
    padding: 1rem 0 1em 1em;
    color: #fff;
    background-color: #EECAAF;
}

.accordion-item .sub-accordion-item:last-child {
    border-bottom: 1.3px solid #fff;
}

.title .fa {
    padding-right: 15px;
    transition: rotate 2s ease-out 1s;
}

.rotate-up {
    padding-left: 15px;
    -webkit-animation: down 0.50s linear infinite forwards;
    -moz-animation: down 0.50s linear infinite forwards;
    animation: down 0.50s linear infinite forwards;
    animation-iteration-count: 1;
}


/* Widths */

.fl {
    float: left;
}

.fr {
    float: right;
}

.ib {
    display: inline-block;
    vertical-align: middle;
}

.vi-middle {
    vertical-align: middle;
}

.ib.vt {
    vertical-align: top;
}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w33 {
    width: 33.33%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w66 {
    width: 66.66%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}


/*unique paddings*/

.pl10,
.p0-10 {
    padding-left: 10px;
}

.pl15,
.p0-15 {
    padding-left: 15px;
}

.pl20,
.p0-20 {
    padding-left: 20px;
}

.pl30,
.p0-30 {
    padding-left: 30px;
}

.pl0,
.p0,
.plr0 {
    padding-left: 0;
}

.pl70 {
    padding-left: 70px;
}

.pl130 {
    padding-left: 130px;
}

.pr10,
.p0-10 {
    padding-right: 10px;
}

.pr15,
.p0-15 {
    padding-right: 15px;
}

.pr20,
.p0-20 {
    padding-right: 20px;
}

.pr30,
.p0-30 {
    padding-right: 30px;
}

.pr40,
.p0-40 {
    padding-right: 40px;
}

.pr50,
.p0-50 {
    padding-right: 50px;
}

.pr60,
.p0-60 {
    padding-right: 60px;
}

.pr70,
.p0-70 {
    padding-right: 70px;
}

.pr70,
.p0-70 {
    padding-right: 80px;
}

.pr0,
.p0,
.plr0 {
    padding-right: 0;
}

.pb10,
.p10-0 {
    padding-bottom: 10px;
}

.pb20,
.p20-0 {
    padding-bottom: 20px;
}

.pb30,
.p30-0 {
    padding-bottom: 30px
}

.pb40,
.p40-0 {
    padding-bottom: 40px;
}

.pb50,
.p50-0 {
    padding-bottom: 50px;
}

.pb60,
.p60-0 {
    padding-bottom: 60px;
}

.pb70,
.p70-0 {
    padding-bottom: 70px;
}

.pb80,
.p80-0 {
    padding-bottom: 80px;
}

.pt0,
.p0,
.ptb0 {
    padding-top: 0;
}

.pt10,
.p10-0 {
    padding-top: 10px;
}

.pt20,
.p20-0 {
    padding-top: 20px;
}

.pt15,
.p15-0 {
    padding-top: 15px
}

.pt30,
.p30-0 {
    padding-top: 30px
}

.pt40,
.p40-0 {
    padding-top: 40px;
}

.pt45,
.p45-0 {
    padding-top: 45px;
}

.pt50,
.p50-0 {
    padding-top: 50px;
}

.pt60,
.p60-0 {
    padding-top: 60px;
}

.pt70,
.p70-0 {
    padding-top: 70px;
}


/* Margin */

.m-auto {
    margin: auto;
}

.clearfix {
    display: block;
}

.clearfix:before,
.clearfix:after {
    content: '';
    width: 100%;
    display: table;
}

.site_title {
    width: 100%;
    text-align: center;
    background-color: #434343;
    color: ivory;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 0px;
}

#responseMessage {
    display: none;
}

#uploadBtn {
    background-color: #faa938;
    border: 1px solid transparent;
    color: white;
    padding: 5px 5px;
}

#progress,
.percentage {
    display: none;
}

.errorMessage {
    color: red;
    display: none;
}

.successMessage {
    color: green;
    display: none;
}

main .container {
    padding-left: 0px;
}

main .container>.accordion-item:first-child {
    display: none;
}

.left-content {
    position: sticky;
    top: 0;
}

.right-content .container {
    width: 100%;
    margin-top: 85px;
}

.right-content>.file {
    display: none;
}

.right-content .file span {
    display: block;
}

.right-content .actions img {
    width: 80%;
    margin: auto;
    display: block;
    cursor: pointer;
}

.right-content .actions {
    width: 87%;
    position: absolute;
    right: 0;
    background-color: #f8f8f8;
}

.right-content .actions>div {
    width: 10%;
    cursor: pointer;
}

.right-content .actions p {
    width: 100%;
    text-align: center;
}

.right-content .actions .img-block {
    width: 30%;
    height: 50px;
    margin: auto;
    text-align: center;
}

.file {
    width: 20%;
    text-align: center;
    padding: 20px;
    border: 1px solid #fff;
    cursor: pointer;
}

.file.active {
    background: aliceblue;
}

.file .img-block {
    width: 100px;
    height: 100px;
    margin: auto;
}

.file img {
    width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}


/* The whole thing */

.general-right-click,
.right-click {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.general-right-click li,
.right-click li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.general-right-click li:hover,
.right-click li:hover {
    background-color: #DEF;
}

.general-right-click [data-action="paste"] {
    display: none;
}

.general-right-click .active {
    display: block;
}

.opacity-05 {
    opacity: 0.5;
}

.uploadFormContainer {
    display: none;
}

.accordion .active>.title .img-block {
    background-image: url('../assets/icons/folder-open.svg') !important;
}

[data-type="folder"]>.img-block {
    background-image: url('../assets/icons/folder-orange.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

[data-type="jpeg"]>.img-block,
[data-type="jpg"]>.img-block {
    background-image: url('../assets/icons/jpg-svg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

[data-type="png"]>.img-block {
    background-image: url('../assets/icons/png-svg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

[data-type="txt"]>.img-block {
    background-image: url('../assets/icons/x-office-document.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

[data-type="xls"]>.img-block {
    background-image: url('../assets/icons/x-office-spreadsheet.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

[data-type="zip"]>.img-block {
    background-image: url('../assets/icons/zip.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.accordion-item .img-block {
    width: 65px;
    height: 70px;
    margin: auto;
    margin: 0px 10px;
}

.right-content .actions .img-block i {
    font-size: 30px;
    line-height: inherit;
}

@-moz-keyframes down {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-180deg);
    }
}

@-webkit-keyframes down {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-180deg);
    }
}

@keyframes down {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}